:root {
  --font_size: 20px;
  background-color: black;
}

body {
  background: linear-gradient(25deg, gray, black);
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

header {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5);
  z-index: 100;
}

header button {
  background-color: black;
  border: 1px solid black;
  border-bottom: 1px solid white;
  color: white;
  margin: 20px;
  font-size: calc(var(--font_size) * 1.1);
  border-radius: 2px;
}

header button:hover,
button:focus {
  border: 1px solid white;
}

button.activeButton {
  border: 1px solid red;
}

h2 {
  margin-left: 30px;
  text-shadow:
    0 0 8px rgba(255, 0, 0, 0.6),
    0 0 15px rgba(0, 150, 255, 0.5);
}

.buttons {
  display: flex;
}

.games {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-bottom: 10vh;
  position: relative;
  overflow-y: auto;
  flex: 1;
}

.board_game {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  text-decoration: none;
  color: inherit;
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 10px;
  font-size: var(--font_size);
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  cursor: pointer;
  justify-content: space-between;
}

.board_game:focus-within {
  box-shadow: 0 0 8px 2px limegreen;
}

.board_game:hover {
  transform: translate(2%, -4%);
  border: 1px solid green;
  box-shadow:
    -12px 16px 8px rgba(0, 0, 0, 0.5),
    0 0 8px 2px limegreen;
}

.board_game a {
  text-decoration: none;
  color: inherit;
}

.board_game img {
  display: block;
  margin-bottom: 8px;
  border-radius: 10px;
}

.google-search {
  background-color: rgba(242, 252, 255, 0.5);
  border: 2px solid gray;
  border-radius: 10px;
}

.google-search:hover,
.google-search:focus {
  border: 2px solid black;
  cursor: pointer;
}

.contact {
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: calc(var(--font_size) * 1.5);
  padding: var(--font_size);
  background-color: rgba(173, 216, 230, 0.5);
  margin: 0;
  border-radius: 10px;
}

.aboutUsWords {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: rgba(173, 216, 230, 0.5);
  margin: 0;
  padding: var(--font_size);
  font-size: calc(var(--font_size) * 1.5);
  border-radius: 10px;
}

footer {
  min-height: 8vh;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100vw;
  background-color: rgba(242, 252, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4vh;
  padding: 2vh;
  height: calc(10vh - 20px);
  z-index: 8;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.info {
  width: 200px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 200px;
  text-align: center;
  font-size: inherit;
}

.buttonDiv button {
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: inherit;
  box-sizing: border-box;
}

.nonGrid {
  display: block !important;
}

.searchInput {
  outline: none;
  width: 90%;
  font-size: xx-large;
  box-sizing: border-box;
  padding: 8px 0 8px 20px;
  border-radius: 6px;
  display: block;
  opacity: 0.8;
  border: none;
  height: 6vh;
  color: rgb(92, 85, 85);
  background-color: white;
  border-radius: none;
  border-radius: 20px;
}

.inputBox:has(input:focus) {
  transform: scale(1.01);
  outline: none;
  box-shadow: 0 0 8px 2px limegreen;
}

.inputBox {
  height: 6vh;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  max-width: 600px;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
  background-color: white;
  border-radius: 20px;
  position: sticky;
  top: 0;
}

.inputBox button {
  border: none;
  height: 6vh;
  width: 6vh;
  background-color: white;
  border-radius: 20px;
}

.inputBox button:hover,
.inputBox button:focus {
  background-color: wheat;
  outline: none;
  opacity: 1;
}

.inputBox img {
  height: 2vh;
  width: 2vh;
}

.noGames {
  font-size: xx-large;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
}

.gamesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;

  height: calc(100vh - calc(header + footer));
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 800px) {
  footer {
    font-size: 2.5vh;
    padding: 1vh;
  }
}

@media (hover: none) and (pointer: coarse) {
  .board_game {
    font-size: x-large;
  }

  .buttonDiv {
    display: flex;
    justify-content: start;
    width: 200px;
  }

  .board_game button {
    padding: 2vh 2px;
    font-size: inherit;
  }

  .board_game:hover {
    transform: none;
    box-shadow: none;
  }

  .google-search:hover,
  .google-search:focus {
    border: 2px solid gray;
  }

  .google-search:active {
    border: 2px solid black;
    background-color: white;
  }

  footer {
    font-size: 2.5vh;
    padding: 1vh;
  }
}
