:root {
  --font_size: 20px;
  background-color: black;
}

body {
  background: linear-gradient(25deg, gray, black);
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

header {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5);
  z-index: 100;
}

header button {
  background-color: black;
  border: 1px solid black;
  border-bottom: 1px solid white;
  color: white;
  margin: 20px;
  font-size: calc(var(--font_size) * 1.1);
  border-radius: 2px;
}

header button:hover,
button:focus {
  border: 1px solid white;
}

button.activeButton {
  border: 1px solid red;
}

h2 {
  margin-left: 30px;
  text-shadow:
    0 0 8px rgba(255, 0, 0, 0.6),
    0 0 15px rgba(0, 150, 255, 0.5);
}

.games {
  padding-bottom: 10vh;
  height: fit-content;
}

.aboutUsWords {
  background-color: rgba(173, 216, 230, 0.5);
  margin: 0;
  padding: var(--font_size);
  font-size: calc(var(--font_size) * 1.5);
}

.board_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  text-decoration: none;
  color: inherit;
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 10px;
  font-size: var(--font_size);
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

.board_game:hover {
  transform: translate(2%, -4%);
  box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.5);
}

.board_game a {
  text-decoration: none;
  color: inherit;
}

.board_game img {
  display: block;
  margin-bottom: 8px;
  border-radius: 10px;
}

.google-search {
  background-color: rgba(242, 252, 255, 0.5);
  border: 2px solid gray;
  border-radius: 10px;
}

.google-search:hover,
.google-search:focus {
  border: 2px solid black;
  cursor: pointer;
}

.contact {
  font-size: calc(var(--font_size) * 1.5);
  padding: var(--font_size);
  background-color: rgba(173, 216, 230, 0.5);
  margin: 0;
}

footer {
  height: 8vh;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100vw;
  background-color: rgba(242, 252, 255, 0.5);
  display: flex;
  justify-content: space-around;
  font-size: 4vh;
  padding: 2vh;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.info {
  width: 200px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: calc(100% - 16px);
  font-size: inherit;
}

.buttonDiv button {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: inherit;
  box-sizing: border-box;
}

@media (hover: none) and (pointer: coarse) {
  .board_game {
    font-size: x-large;
  }

  .buttonDiv {
    display: flex;
    justify-content: start;
    width: 200px;
  }

  .board_game button {
    padding: 2vh 2px;
    font-size: inherit;
    width: 200px;
  }

  .board_game:hover {
    transform: none;
    box-shadow: none;
  }

  .google-search:hover,
  .google-search:focus {
    border: 2px solid gray;
  }

  .google-search:active {
    border: 2px solid black;
    background-color: white;
  }
}
